* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

body {
  background-color: #0b0b0b;
  color: #ffffff;
}

/* HEADER */
header {
  background: black;
  padding: 20px;
  border-bottom: 2px solid gold;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  color: gold;
  font-size: 24px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

nav ul li a:hover {
  color: gold;
}

/* HERO */
.hero {
  padding: 80px 20px;
  text-align: center;
}

.hero h2 {
  font-size: 42px;
  color: gold;
}

.hero p {
  margin-top: 15px;
  font-size: 18px;
  color: #ccc;
}

/* SECTIONS */
section {
  padding: 60px 20px;
  max-width: 900px;
  margin: auto;
}

section h3 {
  color: gold;
  margin-bottom: 20px;
  font-size: 28px;
}

/* FOOTER */
footer {
  background: black;
  border-top: 1px solid gold;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  font-size: 14px;
}


/* BOUTON AIDE */
#helpBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: gold;
  color: black;
  border: none;
  padding: 12px 18px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 25px;
  z-index: 1000;
}

#helpBtn:hover {
  background: #d4af37;
}

/* BOX AIDE */
.help-box {
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 320px;
  background: #111;
  border: 1px solid gold;
  padding: 20px;
  display: none;
  z-index: 1000;
}

.help-box p {
  font-size: 14px;
  margin-bottom: 15px;
}

.help-box ul {
  list-style: none;
  padding-left: 0;
}

.help-box ul li {
  margin-bottom: 10px;
}

.help-box a {
  color: gold;
  text-decoration: none;
}

.help-box a:hover {
  text-decoration: underline;
}

#closeHelp {
  margin-top: 10px;
  background: black;
  color: gold;
  border: 1px solid gold;
  padding: 8px;
  cursor: pointer;
  width: 100%;
}
